@media only screen and (min-width: 1000px){
    .changePassword{
        width: 40%;
        height: 100%;
        margin: auto;
        padding-top: 1%;
    }
    .changePassword h5{
        text-align: left;
        padding-bottom: 5px;
    }

    .changePassword button{
        width: 10%;
        border: none;
        outline: 0;
        display: inline-block;
        padding: 15px 20px 15px 20px;
        color: white;
        background-color: rgba(207, 0, 15, 1);
        text-align: center;
        cursor: pointer;
        font-size: 15px;
        font-family: "Roboto Medium";
        position: absolute;
        margin-left: 13%;
        margin-top: 3%;
    }
    input[type=submit]{
        width: 10%;
        border: none;
        outline: 0;
        display: inline-block;
        padding: 15px 20px 15px 20px;
        color: white;
        background-color: rgba(207, 0, 15, 1);
        text-align: center;
        cursor: pointer;
        font-size: 15px;
        font-family: "Roboto Medium";
        position: absolute;
        margin-left: 13%;
        margin-top: 3%;
    }
}